In [130]:
import matplotlib.pyplot as plt

In [131]:
import numpy as np
import pandas as pd
results_data = pd.read_csv('/home/aarontjk/code/JanuariusJang/sportsanalytics/raw_data/Past_results_1993_2021.csv', encoding='windows-1252')
results_data.head()

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
resultsOnly_data=results_data[["Season", "HomeTeam", "AwayTeam", "FTHG", "FTAG"]]

In [133]:
resultsOnly_data.tail()

        Season     HomeTeam        AwayTeam  FTHG  FTAG
11108  2021-22  Aston Villa       Tottenham     0     4
11109  2021-22    Brentford        West Ham     2     0
11110  2021-22    Leicester  Crystal Palace     2     1
11111  2021-22      Norwich         Burnley     2     0
11112  2021-22     Man City       Liverpool     2     2

In [134]:
def label_WDL (row):
    if row['FTHG']>row['FTAG']:
        return 'W'
    if row['FTHG']<row['FTAG']:
        return 'L'
    if row['FTHG']==row['FTAG']:
        return 'D'

In [135]:
resultsOnly_data['WDL']=resultsOnly_data.apply(lambda row: label_WDL(row), axis=1)

/tmp/ipykernel_8094/2434092730.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsOnly_data['WDL']=resultsOnly_data.apply(lambda row: label_WDL(row), axis=1)

In [136]:
resultsOnly_data.head()

    Season     HomeTeam        AwayTeam  FTHG  FTAG WDL
0  1993-94      Arsenal        Coventry     0     3   L
1  1993-94  Aston Villa             QPR     4     1   W
2  1993-94      Chelsea       Blackburn     1     2   L
3  1993-94    Liverpool  Sheffield Weds     2     0   W
4  1993-94     Man City           Leeds     1     1   D

In [137]:
def winning_team (row):
    if row['WDL']=='W':
        return row['HomeTeam']
    if row['WDL']=='L':
        return row['AwayTeam']
    if row['WDL']=='D':
        return "NA"

In [138]:
resultsOnly_data['WinningTeam']=resultsOnly_data.apply(lambda row: winning_team(row), axis=1)

/tmp/ipykernel_8094/711549364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsOnly_data['WinningTeam']=resultsOnly_data.apply(lambda row: winning_team(row), axis=1)

In [139]:
resultsOnly_data.drop('WinningTeam', axis=1, inplace=True)

/tmp/ipykernel_8094/2379643948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsOnly_data.drop('WinningTeam', axis=1, inplace=True)

In [142]:
resultsOnly_data.drop('Season', axis=1, inplace=True)
resultsOnly_data.drop('FTHG', axis=1, inplace=True)
resultsOnly_data.drop('FTAG', axis=1, inplace=True)

/tmp/ipykernel_8094/155072889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsOnly_data.drop('Season', axis=1, inplace=True)
/tmp/ipykernel_8094/155072889.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsOnly_data.drop('FTHG', axis=1, inplace=True)
/tmp/ipykernel_8094/155072889.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  resultsOnly_data.drop('FTAG', axis=1, inplace=True)

In [143]:
resultsOnly_data

          HomeTeam        AwayTeam WDL
0          Arsenal        Coventry   L
1      Aston Villa             QPR   W
2          Chelsea       Blackburn   L
3        Liverpool  Sheffield Weds   W
4         Man City           Leeds   D
...            ...             ...  ..
11108  Aston Villa       Tottenham   L
11109    Brentford        West Ham   W
11110    Leicester  Crystal Palace   W
11111      Norwich         Burnley   W
11112     Man City       Liverpool   D

[11113 rows x 3 columns]

In [144]:
team_list

['Arsenal',
 'Aston Villa',
 'Chelsea',
 'Liverpool',
 'Man City',
 'Newcastle',
 'Oldham',
 'Sheffield United',
 'Southampton',
 'West Ham',
 'Norwich',
 'Tottenham',
 'Everton',
 'Ipswich',
 'Leeds',
 'Wimbledon',
 'Blackburn',
 'Coventry',
 'Man United',
 'QPR',
 'Sheffield Weds',
 'Swindon',
 'Crystal Palace',
 'Leicester',
 "Nott'm Forest",
 'Bolton',
 'Middlesbrough',
 'Derby',
 'Sunderland',
 'Barnsley',
 'Charlton',
 'Watford',
 'Bradford',
 'Fulham',
 'Birmingham',
 'West Brom',
 'Portsmouth',
 'Wolves',
 'Wigan',
 'Reading',
 'Hull',
 'Stoke',
 'Burnley',
 'Blackpool',
 'Swansea',
 'Cardiff',
 'Bournemouth',
 'Brighton',
 'Huddersfield',
 'Brentford']

In [145]:
team_list = list(resultsOnly_data['HomeTeam'].unique())

In [103]:
team_list2 = list(resultsOnly_data['AwayTeam'].unique())

In [146]:
len(team_list)

50

In [147]:
arsenal_results = resultsOnly_data.query("HomeTeam == 'Arsenal' or AwayTeam == 'Arsenal'" )

In [148]:
arsenal_results.to_numpy()[2][2]

'L'

In [149]:
arsenal_index = list(arsenal_results.index)

In [150]:
len(arsenal_index)

1102

In [151]:
form = ['NA','NA','NA','NA','NA']
for i in range(5, len(arsenal_index)):
    form.append(arsenal_results.to_numpy()[i-5][2] + arsenal_results.to_numpy()[i-4][2] + arsenal_results.to_numpy()[i-3][2] + arsenal_results.to_numpy()[i-2][2] + arsenal_results.to_numpy()[i-1][2])

In [152]:
form

['NA',
 'NA',
 'NA',
 'NA',
 'NA',
 'LLLWW',
 'LLWWD',
 'LWWDW',
 'WWDWW',
 'WDWWW',
 'DWWWD',
 'WWWDD',
 'WWDDD',
 'WDDDD',
 'DDDDL',
 'DDDLL',
 'DDLLD',
 'DLLDW',
 'LLDWW',
 'LDWWD',
 'DWWDW',
 'WWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWL',
 'WLWLD',
 'LWLDD',
 'WLDDD',
 'LDDDD',
 'DDDDD',
 'DDDDW',
 'DDDWL',
 'DDWLL',
 'DWLLD',
 'WLLDW',
 'LLDWD',
 'LDWDD',
 'DWDDW',
 'WDDWD',
 'DDWDL',
 'DWDLD',
 'WDLDL',
 'DLDLW',
 'LDLWW',
 'DLWWW',
 'LWWWW',
 'WWWWD',
 'WWWDD',
 'WWDDL',
 'WDDLL',
 'DDLLL',
 'DLLLL',
 'LLLLW',
 'LLLWW',
 'LLWWD',
 'LWWDD',
 'WWDDW',
 'WDDWW',
 'DDWWD',
 'DWWDD',
 'WWDDL',
 'WDDLL',
 'DDLLD',
 'DLLDL',
 'LLDLL',
 'LDLLW',
 'DLLWD',
 'LLWDL',
 'LWDLD',
 'WDLDW',
 'DLDWD',
 'LDWDW',
 'DWDWL',
 'WDWLL',
 'DWLLW',
 'WLLWW',
 'LLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWL',
 'WWWLW',
 'WWLWL',
 'WLWLD',
 'LWLDD',
 'WLDDW',
 'LDDWD',
 'DDWDL',
 'DWDLD',
 'WDLDD',
 'DLDDL',
 'LDDLW',
 'DDLWW',
 'DLWWW',
 'LWWWL',
 'WWWLW',
 'WWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWD',
 'WWWDD',
 'WWDDD',
 'WDDDD',
 'DDDDW',
 'DDDWW',
 'DDWWL',
 'DWWLW',
 'WWLWL',
 'WLWLL',
 'LWLLD',
 'WLLDL',
 'LLDLL',
 'LDLLD',
 'DLLDW',
 'LLDWL',
 'LDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWD',
 'WWWDD',
 'WWDDD',
 'WDDDW',
 'DDDWW',
 'DDWWW',
 'DWWWL',
 'WWWLD',
 'WWLDD',
 'WLDDW',
 'LDDWL',
 'DDWLW',
 'DWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWD',
 'LDWDW',
 'DWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWD',
 'WLWDW',
 'LWDWD',
 'WDWDD',
 'DWDDW',
 'WDDWW',
 'DDWWW',
 'DWWWL',
 'WWWLD',
 'WWLDD',
 'WLDDL',
 'LDDLL',
 'DDLLL',
 'DLLLW',
 'LLLWL',
 'LLWLL',
 'LWLLL',
 'WLLLW',
 'LLLWD',
 'LLWDD',
 'LWDDL',
 'WDDLL',
 'DDLLD',
 'DLLDW',
 'LLDWL',
 'LDWLD',
 'DWLDD',
 'WLDDW',
 'LDDWL',
 'DDWLW',
 'DWLWD',
 'WLWDW',
 'LWDWD',
 'WDWDD',
 'DWDDW',
 'WDDWW',
 'DDWWW',
 'DWWWL',
 'WWWLL',
 'WWLLL',
 'WLLLW',
 'LLLWD',
 'LLWDW',
 'LWDWD',
 'WDWDW',
 'DWDWW',
 'WDWWW',
 'DWWWD',
 'WWWDL',
 'WWDLL',
 'WDLLW',
 'DLLWL',
 'LLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWD',
 'WWWDD',
 'WWDDD',
 'WDDDD',
 'DDDDW',
 'DDDWW',
 'DDWWW',
 'DWWWD',
 'WWWDL',
 'WWDLL',
 'WDLLW',
 'DLLWD',
 'LLWDW',
 'LWDWD',
 'WDWDD',
 'DWDDW',
 'WDDWW',
 'DDWWW',
 'DWWWL',
 'WWWLD',
 'WWLDL',
 'WLDLW',
 'LDLWL',
 'DLWLD',
 'LWLDW',
 'WLDWD',
 'LDWDW',
 'DWDWL',
 'WDWLW',
 'DWLWD',
 'WLWDW',
 'LWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLD',
 'WWLDL',
 'WLDLW',
 'LDLWW',
 'DLWWW',
 'LWWWL',
 'WWWLW',
 'WWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLD',
 'WWLDW',
 'WLDWW',
 'LDWWW',
 'DWWWL',
 'WWWLD',
 'WWLDW',
 'WLDWW',
 'LDWWD',
 'DWWDW',
 'WWDWD',
 'WDWDW',
 'DWDWL',
 'WDWLW',
 'DWLWD',
 'WLWDW',
 'LWDWW',
 'WDWWW',
 'DWWWL',
 'WWWLL',
 'WWLLL',
 'WLLLL',
 'LLLLW',
 'LLLWW',
 'LLWWD',
 'LWWDW',
 'WWDWW',
 'WDWWW',
 'DWWWW',
 'WWWWD',
 'WWWDD',
 'WWDDW',
 'WDDWD',
 'DDWDW',
 'DWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWW',
 'LDWWW',
 'DWWWW',
 'WWWWD',
 'WWWDW',
 'WWDWW',
 'WDWWD',
 'DWWDW',
 'WWDWD',
 'WDWDD',
 'DWDDW',
 'WDDWL',
 'DDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWD',
 'WWWDW',
 'WWDWL',
 'WDWLL',
 'DWLLW',
 'WLLWL',
 'LLWLW',
 'LWLWD',
 'WLWDW',
 'LWDWL',
 'WDWLL',
 'DWLLW',
 'WLLWD',
 'LLWDL',
 'LWDLD',
 'WDLDL',
 'DLDLL',
 'LDLLD',
 'DLLDD',
 'LLDDL',
 'LDDLD',
 'DDLDW',
 'DLDWL',
 'LDWLW',
 'DWLWD',
 'WLWDL',
 'LWDLL',
 'WDLLW',
 'DLLWW',
 'LLWWD',
 'LWWDD',
 'WWDDL',
 'WDDLL',
 'DDLLD',
 'DLLDL',
 'LLDLW',
 'LDLWL',
 'DLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLL',
 'WWLLW',
 'WLLWW',
 'LLWWD',
 'LWWDW',
 'WWDWD',
 'WDWDW',
 'DWDWL',
 'WDWLW',
 'DWLWL',
 'WLWLW',
 'LWLWW',
 'WLWWL',
 'LWWLL',
 'WWLLW',
 'WLLWW',
 'LLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWD',
 'WWWDW',
 'WWDWL',
 'WDWLD',
 'DWLDW',
 'WLDWL',
 'LDWLW',
 'DWLWD',
 'WLWDW',
 'LWDWD',
 'WDWDL',
 'DWDLW',
 'WDLWW',
 'DLWWW',
 'LWWWD',
 'WWWDD',
 'WWDDL',
 'WDDLD',
 'DDLDL',
 'DLDLW',
 'LDLWL',
 'DLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLD',
 'LWLDD',
 'WLDDW',
 'LDDWL',
 'DDWLW',
 'DWLWD',
 'WLWDL',
 'LWDLW',
 'WDLWL',
 'DLWLD',
 'LWLDD',
 'WLDDW',
 'LDDWD',
 'DDWDW',
 'DWDWL',
 'WDWLD',
 'DWLDW',
 'WLDWL',
 'LDWLW',
 'DWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWD',
 'WLWDW',
 'LWDWD',
 'WDWDW',
 'DWDWD',
 'WDWDD',
 'DWDDD',
 'WDDDL',
 'DDDLW',
 'DDLWL',
 'DLWLW',
 'LWLWW',
 'WLWWL',
 'LWWLL',
 'WWLLD',
 'WLLDL',
 'LLDLW',
 'LDLWW',
 'DLWWW',
 'LWWWD',
 'WWWDD',
 'WWDDL',
 'WDDLD',
 'DDLDW',
 'DLDWW',
 'LDWWD',
 'DWWDL',
 'WWDLW',
 'WDLWL',
 'DLWLL',
 'LWLLD',
 'WLLDW',
 'LLDWW',
 'LDWWL',
 'DWWLL',
 'WWLLW',
 'WLLWD',
 'LLWDW',
 'LWDWL',
 'WDWLW',
 'DWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWL',
 'LDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWD',
 'WWWDW',
 'WWDWW',
 'WDWWW',
 'DWWWD',
 'WWWDW',
 'WWDWL',
 'WDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLL',
 'WWLLW',
 'WLLWD',
 'LLWDD',
 'LWDDW',
 'WDDWW',
 'DDWWL',
 'DWWLL',
 'WWLLD',
 'WLLDW',
 'LLDWW',
 'LDWWL',
 'DWWLW',
 'WWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWD',
 'WWWDW',
 'WWDWD',
 'WDWDL',
 'DWDLL',
 'WDLLW',
 'DLLWD',
 'LLWDW',
 'LWDWD',
 'WDWDL',
 'DWDLW',
 'WDLWL',
 'DLWLW',
 'LWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWW',
 'LDWWD',
 'DWWDW',
 'WWDWW',
 'WDWWW',
 'DWWWD',
 'WWWDL',
 'WWDLD',
 'WDLDW',
 'DLDWL',
 'LDWLW',
 'DWLWW',
 'WLWWL',
 'LWWLW',
 'WWLWD',
 'WLWDW',
 'LWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWW',
 'WLWWL',
 'LWWLD',
 'WWLDW',
 'WLDWW',
 'LDWWD',
 'DWWDW',
 'WWDWD',
 'WDWDD',
 'DWDDW',
 'WDDWD',
 'DDWDW',
 'DWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWW',
 'WLWWD',
 'LWWDD',
 'WWDDL',
 'WDDLW',
 'DDLWL',
 'DLWLD',
 'LWLDW',
 'WLDWW',
 'LDWWW',
 'DWWWD',
 'WWWDL',
 'WWDLW',
 'WDLWD',
 'DLWDL',
 'LWDLW',
 'WDLWL',
 'DLWLW',
 'LWLWD',
 'WLWDD',
 'LWDDD',
 'WDDDD',
 'DDDDW',
 'DDDWL',
 'DDWLD',
 'DWLDW',
 'WLDWW',
 'LDWWL',
 'DWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLL',
 'WWLLL',
 'WLLLD',
 'LLLDW',
 'LLDWL',
 'LDWLD',
 'DWLDW',
 'WLDWW',
 'LDWWL',
 'DWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWD',
 'WLWDD',
 'LWDDD',
 'WDDDW',
 'DDDWW',
 'DDWWL',
 'DWWLD',
 'WWLDD',
 'WLDDD',
 'LDDDD',
 'DDDDD',
 'DDDDL',
 'DDDLW',
 'DDLWL',
 'DLWLW',
 'LWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWL',
 'LDWLL',
 'DWLLD',
 'WLLDW',
 'LLDWL',
 'LDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWL',
 'WWWLW',
 'WWLWW',
 'WLWWD',
 'LWWDW',
 'WWDWL',
 'WDWLW',
 'DWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWW',
 'LDWWL',
 'DWWLD',
 'WWLDL',
 'WLDLW',
 'LDLWD',
 'DLWDL',
 'LWDLW',
 'WDLWW',
 'DLWWW',
 'LWWWL',
 'WWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWD',
 'WLWDW',
 'LWDWW',
 'WDWWW',
 'DWWWD',
 'WWWDW',
 'WWDWW',
 'WDWWD',
 'DWWDW',
 'WWDWL',
 'WDWLW',
 'DWLWD',
 'WLWDL',
 'LWDLW',
 'WDLWW',
 'DLWWL',
 'LWWLW',
 'WWLWL',
 'WLWLL',
 'LWLLL',
 'WLLLL',
 'LLLLL',
 'LLLLW',
 'LLLWW',
 'LLWWW',
 'LWWWD',
 'WWWDL',
 'WWDLD',
 'WDLDL',
 'DLDLW',
 'LDLWW',
 'DLWWD',
 'LWWDW',
 'WWDWW',
 'WDWWD',
 'DWWDD',
 'WWDDD',
 'WDDDL',
 'DDDLD',
 'DDLDD',
 'DLDDW',
 'LDDWW',
 'DDWWW',
 'DWWWL',
 'WWWLD',
 'WWLDD',
 'WLDDL',
 'LDDLW',
 'DDLWW',
 'DLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWL',
 'WWWLW',
 'WWLWL',
 'WLWLD',
 'LWLDL',
 'WLDLW',
 'LDLWW',
 'DLWWL',
 'LWWLD',
 'WWLDW',
 'WLDWW',
 'LDWWW',
 'DWWWL',
 'WWWLD',
 'WWLDW',
 'WLDWL',
 'LDWLW',
 'DWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLL',
 'WWLLD',
 'WLLDD',
 'LLDDD',
 'LDDDL',
 'DDDLD',
 'DDLDD',
 'DLDDL',
 'LDDLW',
 'DDLWD',
 'DLWDL',
 'LWDLL',
 'WDLLW',
 'DLLWW',
 'LLWWW',
 'LWWWD',
 'WWWDW',
 'WWDWD',
 'WDWDD',
 'DWDDL',
 'WDDLW',
 'DDLWL',
 'DLWLL',
 'LWLLW',
 'WLLWD',
 'LLWDL',
 'LWDLW',
 'WDLWW',
 'DLWWD',
 'LWWDW',
 'WWDWL',
 'WDWLW',
 'DWLWW',
 'WLWWL',
 'LWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWD',
 'WLWDL',
 'LWDLD',
 'WDLDL',
 'DLDLW',
 'LDLWL',
 'DLWLL',
 'LWLLL',
 'WLLLW',
 'LLLWL',
 'LLWLW',
 'LWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWL',
 'LDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLW',
 'WWLWD',
 'WLWDW',
 'LWDWD',
 'WDWDL',
 'DWDLL',
 'WDLLW',
 'DLLWL',
 'LLWLW',
 'LWLWD',
 'WLWDW',
 'LWDWW',
 'WDWWD',
 'DWWDW',
 'WWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWD',
 'WLWDD',
 'LWDDW',
 'WDDWW',
 'DDWWL',
 'DWWLW',
 'WWLWW',
 'WLWWL',
 'LWWLW',
 'WWLWD',
 'WLWDD',
 'LWDDD',
 'WDDDL',
 'DDDLD',
 'DDLDW',
 'DLDWD',
 'LDWDL',
 'DWDLW',
 'WDLWW',
 'DLWWL',
 'LWWLL',
 'WWLLW',
 'WLLWW',
 'LLWWW',
 'LWWWD',
 'WWWDW',
 'WWDWL',
 'WDWLW',
 'DWLWW',
 'WLWWL',
 'LWWLW',
 'WWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLD',
 'LWLDL',
 'WLDLL',
 'LDLLD',
 'DLLDD',
 'LLDDW',
 'LDDWL',
 'DDWLL',
 'DWLLD',
 'WLLDL',
 'LLDLW',
 'LDLWW',
 'DLWWL',
 'LWWLW',
 'WWLWL',
 'WLWLW',
 'LWLWL',
 'WLWLD',
 'LWLDW',
 'WLDWD',
 'LDWDW',
 'DWDWL',
 'WDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWD',
 'WWWDD',
 'WWDDL',
 'WDDLD',
 'DDLDL',
 'DLDLW',
 'LDLWW',
 'DLWWL',
 'LWWLD',
 'WWLDL',
 'WLDLW',
 'LDLWD',
 'DLWDD',
 'LWDDW',
 'WDDWD',
 'DDWDW',
 'DWDWD',
 'WDWDW',
 'DWDWL',
 'WDWLD',
 'DWLDL',
 'WLDLW',
 'LDLWL',
 'DLWLW',
 'LWLWL',
 'WLWLW',
 'LWLWD',
 'WLWDL',
 'LWDLD',
 'WDLDD',
 'DLDDW',
 'LDDWL',
 'DDWLW',
 'DWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWD',
 'WWWDL',
 'WWDLW',
 'WDLWL',
 'DLWLW',
 'LWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWD',
 'WWWDW',
 'WWDWW',
 'WDWWL',
 'DWWLW',
 'WWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLL',
 'WWLLW',
 'WLLWW',
 'LLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWD',
 'WWWDW',
 'WWDWW',
 'WDWWW',
 'DWWWL',
 'WWWLW',
 'WWLWW',
 'WLWWW',
 'LWWWL',
 'WWWLW',
 'WWLWL',
 'WLWLD',
 'LWLDD',
 'WLDDW',
 'LDDWD',
 'DDWDL',
 'DWDLD',
 'WDLDD',
 'DLDDW',
 'LDDWW',
 'DDWWW',
 'DWWWW',
 'WWWWW',
 'WWWWL',
 'WWWLW',
 'WWLWW',
 'WLWWW',
 'LWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWL',
 'WWWLL',
 'WWLLW',
 'WLLWW',
 'LLWWL',
 'LWWLL',
 'WWLLW',
 'WLLWW',
 'LLWWL',
 'LWWLW',
 'WWLWD',
 'WLWDD',
 'LWDDD',
 'WDDDL',
 'DDDLW',
 'DDLWD',
 'DLWDW',
 'LWDWW',
 'WDWWW',
 'DWWWD',
 'WWWDW',
 'WWDWW',
 'WDWWW',
 'DWWWW',
 'WWWWW',
 'WWWWW',
 'WWWWL',
 'WWWLW',
 'WWLWW',
 'WLWWD',
 'LWWDW',
 'WWDWW',
 'WDWWW',
 'DWWWL',
 'WWWLL',
 'WWLLW',
 'WLLWW',
 'LLWWD',
 'LWWDL',
 'WWDLL',
 'WDLLW',
 'DLLWW',
 ...]

In [153]:
arsenal_results['Arsenal Form Numerical'] = form_numerical

/tmp/ipykernel_8094/1775793013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arsenal_results['Arsenal Form Numerical'] = form_numerical

In [154]:
form_numerical = []

form_dict = {'W':2, 'D':1, 'L':0}

for item in form:
    num = 0
    for letter in item:
        if letter == 'W':
            num += 2
        elif letter == 'D':
            num += 1
    form_numerical.append(num)

In [155]:
form_numerical

[0,
 0,
 0,
 0,
 0,
 4,
 5,
 7,
 9,
 9,
 8,
 8,
 7,
 6,
 4,
 3,
 3,
 4,
 5,
 6,
 8,
 9,
 7,
 7,
 6,
 5,
 4,
 5,
 4,
 5,
 6,
 5,
 4,
 4,
 5,
 4,
 5,
 7,
 7,
 5,
 5,
 4,
 4,
 5,
 7,
 8,
 9,
 8,
 6,
 4,
 2,
 1,
 2,
 4,
 5,
 6,
 8,
 8,
 7,
 7,
 6,
 4,
 3,
 2,
 1,
 3,
 4,
 3,
 4,
 6,
 5,
 6,
 6,
 5,
 5,
 6,
 6,
 8,
 10,
 8,
 8,
 6,
 5,
 4,
 6,
 5,
 5,
 5,
 5,
 3,
 4,
 6,
 7,
 6,
 8,
 8,
 8,
 8,
 10,
 9,
 8,
 7,
 6,
 6,
 7,
 6,
 7,
 6,
 4,
 3,
 3,
 1,
 2,
 4,
 3,
 5,
 7,
 8,
 8,
 9,
 8,
 7,
 7,
 7,
 8,
 7,
 7,
 6,
 6,
 4,
 6,
 5,
 5,
 5,
 6,
 6,
 8,
 7,
 7,
 7,
 7,
 6,
 7,
 7,
 8,
 8,
 7,
 7,
 6,
 4,
 2,
 2,
 3,
 2,
 2,
 2,
 4,
 3,
 4,
 4,
 4,
 3,
 4,
 3,
 4,
 5,
 6,
 4,
 6,
 6,
 7,
 6,
 7,
 7,
 8,
 8,
 7,
 6,
 4,
 4,
 3,
 5,
 6,
 8,
 8,
 9,
 8,
 7,
 5,
 5,
 3,
 4,
 4,
 6,
 4,
 6,
 6,
 8,
 8,
 10,
 9,
 8,
 7,
 6,
 6,
 7,
 8,
 8,
 7,
 5,
 5,
 4,
 5,
 6,
 7,
 7,
 8,
 8,
 7,
 7,
 5,
 5,
 3,
 4,
 5,
 6,
 6,
 6,
 7,
 6,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 8,
 6,
 7,
 5,
 5,
 5,
 7,
 6,
 8,
 8,
 8,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 8,
 8,
 8,
 6,
 7,
 6,
 7,
 7,
 9,
 7,
 6,
 4,
 2,
 2,
 4,
 5,
 7,
 9,
 9,
 9,
 9,
 8,
 8,
 7,
 7,
 8,
 7,
 7,
 6,
 5,
 5,
 7,
 7,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 7,
 7,
 6,
 6,
 7,
 8,
 7,
 9,
 7,
 5,
 5,
 4,
 4,
 5,
 7,
 5,
 5,
 5,
 5,
 3,
 4,
 4,
 2,
 2,
 3,
 2,
 3,
 5,
 4,
 5,
 6,
 5,
 3,
 5,
 5,
 5,
 6,
 6,
 4,
 3,
 2,
 3,
 3,
 5,
 4,
 6,
 4,
 6,
 6,
 8,
 6,
 6,
 6,
 6,
 5,
 7,
 8,
 8,
 6,
 7,
 5,
 6,
 6,
 6,
 4,
 6,
 6,
 6,
 8,
 10,
 9,
 9,
 7,
 6,
 6,
 5,
 5,
 6,
 7,
 6,
 6,
 6,
 7,
 7,
 7,
 8,
 6,
 5,
 3,
 4,
 3,
 5,
 4,
 6,
 4,
 5,
 4,
 6,
 4,
 6,
 6,
 5,
 5,
 5,
 4,
 4,
 6,
 5,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 6,
 4,
 6,
 4,
 6,
 5,
 7,
 6,
 8,
 7,
 7,
 6,
 5,
 5,
 4,
 5,
 6,
 6,
 4,
 5,
 3,
 3,
 5,
 7,
 7,
 8,
 6,
 5,
 5,
 6,
 6,
 6,
 7,
 5,
 3,
 3,
 5,
 5,
 5,
 5,
 6,
 5,
 5,
 5,
 7,
 5,
 5,
 5,
 5,
 5,
 7,
 8,
 8,
 10,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 8,
 9,
 7,
 7,
 7,
 8,
 6,
 6,
 6,
 5,
 4,
 6,
 8,
 6,
 5,
 5,
 5,
 5,
 5,
 7,
 8,
 8,
 8,
 9,
 9,
 8,
 6,
 4,
 5,
 4,
 5,
 6,
 6,
 6,
 5,
 5,
 4,
 5,
 5,
 7,
 6,
 8,
 9,
 9,
 8,
 7,
 6,
 6,
 4,
 5,
 7,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 8,
 6,
 5,
 7,
 7,
 6,
 8,
 8,
 7,
 7,
 7,
 7,
 8,
 7,
 7,
 6,
 6,
 6,
 7,
 6,
 6,
 6,
 4,
 4,
 5,
 7,
 7,
 8,
 7,
 7,
 6,
 4,
 5,
 5,
 5,
 5,
 6,
 5,
 6,
 6,
 5,
 5,
 6,
 7,
 5,
 7,
 6,
 6,
 6,
 8,
 6,
 6,
 4,
 3,
 3,
 3,
 4,
 6,
 7,
 5,
 7,
 6,
 6,
 5,
 6,
 5,
 7,
 7,
 6,
 6,
 6,
 5,
 4,
 5,
 4,
 5,
 4,
 5,
 4,
 5,
 5,
 5,
 3,
 4,
 5,
 3,
 5,
 7,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 5,
 6,
 4,
 5,
 5,
 7,
 5,
 6,
 5,
 5,
 4,
 4,
 5,
 7,
 7,
 6,
 8,
 6,
 6,
 5,
 7,
 7,
 9,
 8,
 9,
 9,
 8,
 8,
 7,
 7,
 6,
 5,
 5,
 7,
 5,
 6,
 6,
 4,
 2,
 2,
 0,
 2,
 4,
 6,
 7,
 7,
 6,
 4,
 4,
 5,
 6,
 7,
 9,
 8,
 7,
 7,
 5,
 4,
 4,
 5,
 6,
 8,
 7,
 7,
 6,
 4,
 4,
 6,
 7,
 8,
 10,
 10,
 10,
 8,
 8,
 6,
 5,
 3,
 5,
 5,
 5,
 5,
 7,
 7,
 7,
 7,
 7,
 7,
 5,
 5,
 5,
 6,
 4,
 6,
 6,
 8,
 6,
 6,
 5,
 4,
 3,
 3,
 4,
 4,
 3,
 4,
 5,
 4,
 3,
 5,
 5,
 6,
 7,
 9,
 8,
 7,
 5,
 6,
 4,
 3,
 4,
 5,
 3,
 5,
 7,
 6,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 5,
 5,
 4,
 4,
 4,
 3,
 3,
 2,
 4,
 2,
 4,
 4,
 5,
 5,
 5,
 5,
 7,
 8,
 6,
 8,
 7,
 7,
 6,
 6,
 4,
 5,
 3,
 4,
 5,
 7,
 7,
 8,
 8,
 9,
 7,
 7,
 7,
 6,
 6,
 8,
 6,
 7,
 8,
 6,
 6,
 7,
 6,
 5,
 5,
 4,
 5,
 5,
 4,
 6,
 7,
 5,
 4,
 6,
 6,
 6,
 7,
 9,
 7,
 7,
 7,
 6,
 6,
 8,
 8,
 6,
 8,
 6,
 6,
 4,
 6,
 4,
 5,
 3,
 3,
 2,
 3,
 4,
 4,
 4,
 4,
 3,
 3,
 5,
 5,
 6,
 6,
 6,
 4,
 5,
 5,
 6,
 6,
 6,
 7,
 7,
 8,
 8,
 9,
 8,
 6,
 5,
 3,
 4,
 5,
 5,
 5,
 5,
 5,
 4,
 5,
 6,
 7,
 7,
 7,
 8,
 6,
 6,
 4,
 5,
 3,
 5,
 4,
 6,
 5,
 5,
 4,
 5,
 5,
 4,
 6,
 7,
 8,
 8,
 10,
 9,
 7,
 7,
 5,
 5,
 6,
 8,
 8,
 9,
 9,
 9,
 7,
 7,
 8,
 8,
 6,
 6,
 6,
 6,
 6,
 8,
 10,
 10,
 9,
 9,
 9,
 9,
 7,
 8,
 8,
 8,
 6,
 8,
 6,
 5,
 4,
 6,
 5,
 5,
 5,
 5,
 5,
 6,
 8,
 9,
 10,
 8,
 8,
 8,
 8,
 8,
 10,
 10,
 10,
 10,
 10,
 8,
 6,
 6,
 6,
 4,
 4,
 6,
 6,
 4,
 6,
 7,
 6,
 5,
 5,
 5,
 5,
 6,
 7,
 9,
 8,
 9,
 9,
 9,
 9,
 10,
 10,
 8,
 8,
 8,
 7,
 7,
 9,
 9,
 7,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 ...]

In [156]:
arsenal_results.head(10)

           HomeTeam     AwayTeam WDL  Arsenal Form Numerical
0           Arsenal     Coventry   L                       0
11        Tottenham      Arsenal   L                       0
29   Sheffield Weds      Arsenal   L                       0
34          Arsenal        Leeds   W                       0
45          Arsenal      Everton   W                       0
59        Blackburn      Arsenal   D                       4
66          Arsenal      Ipswich   W                       5
86       Man United      Arsenal   W                       7
88          Arsenal  Southampton   W                       9
101       Liverpool      Arsenal   D                       9

In [160]:
arsenal_results = arsenal_results.iloc[5:,:]

In [161]:
arsenal_results

             HomeTeam     AwayTeam WDL  Arsenal Form Numerical
59          Blackburn      Arsenal   D                       4
66            Arsenal      Ipswich   W                       5
86         Man United      Arsenal   W                       7
88            Arsenal  Southampton   W                       9
101         Liverpool      Arsenal   D                       9
...               ...          ...  ..                     ...
11083         Arsenal    Leicester   W                       5
11086         Arsenal    Liverpool   L                       6
11089     Aston Villa      Arsenal   L                       6
11101  Crystal Palace      Arsenal   W                       4
11105         Arsenal     Brighton   L                       4

[1097 rows x 4 columns]

In [90]:
resultsOnly_data.query("AwayTeam == 'Coventry'")

       Season     HomeTeam  AwayTeam  FTHG  FTAG WDL  WinningTeam
0     1993-94      Arsenal  Coventry     0     3   L     Coventry
36    1993-94       Oldham  Coventry     3     3   D           NA
44    1993-94     Man City  Coventry     1     1   D           NA
67    1993-94  Aston Villa  Coventry     0     0   D           NA
102   1993-94      Norwich  Coventry     1     0   W      Norwich
...       ...          ...       ...   ...   ...  ..          ...
3116  2000-01    Tottenham  Coventry     3     0   W    Tottenham
3134  2000-01    Leicester  Coventry     1     3   L     Coventry
3148  2000-01   Man United  Coventry     4     2   W   Man United
3162  2000-01      Ipswich  Coventry     2     0   W      Ipswich
3181  2000-01  Aston Villa  Coventry     3     2   W  Aston Villa

[156 rows x 7 columns]

In [53]:
for index in arsenal_index:
    arsenal_results

In [39]:
arsenal_results.WDL

0        L
11       L
29       L
34       W
45       W
        ..
11083    W
11086    L
11089    L
11101    W
11105    L
Name: WDL, Length: 1102, dtype: object